@font-face {
  font-family: "tbc-bold";
  src: url("./fonts/TBCXBold.woff2");
}
@font-face {
  font-family: "tbc-medium";
  src: url("./fonts/TBCXMedium.woff2");
}
@font-face {
  font-family: "tbc-regular";
  src: url("./fonts/TBCXRegular.woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #555f62;
  background-color: #f9fafa;
  font-size: 14px;
  line-height: 1.7;
  font-family: tbc-bold;
}
/* start navigation */
header {
  z-index: 100;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  z-index: 103;
  width: 100%;
  height: 100%;
  max-width: 1110px;
  justify-content: space-around !important;
  /* margin-right: auto; */
  position: relative;
  gap: 40px;
}
.tbc-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 14px;
}
ul li {
  cursor: pointer;
}
li {
  position: relative;
  background: #fff;
  &::before {
    content: attr(data);
    display: block;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 54px;
    margin: auto;
    justify-content: center;
    height: 2px;
    background-color: #182cc0;
    transition: width 500ms;
    width: 0;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: tbc-regular;
  font-size: 16px;
  width: 479px;
  height: 100%;
}

.lang-toggle {
  font-family: tbc-bold;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 6px 2.3px;
  transition: 0.3s;
  /* width: 100%; */
}
.lang-toggle:hover {
  background-color: #eef1f1;
  border-radius: 5px;
  transition: 0.5s;
}

.subscribe-products {
  color: #182cc0;
  align-items: center;
  font-size: 14px;
  font-family: tbc-bold;
  line-height: 1.4;
  display: flex;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.subscribe-products:hover {
  color: #3295ce;
  transition: 0.5s;
}
.search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}
.search-icon {
  cursor: pointer;
  transition: 0.3s;
}
.search-icon:hover {
  color: #3295ce;
  transition: 0.5s;
}
/* end navigation */

/* start nav responsive */
@media only screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
  .concept-text {
    display: none;
  }

  .tbc-logo svg {
    width: 500px !important;
    height: 55px;
  }
  .tbc-logo {
    width: 50%;
    margin-left: 10%;
  }
  .cls-1 {
    display: none;
  }
}

/* end nav responsive */

/* start dropdown menu */
.dropdown-container {
  width: 100%;
  position: fixed;
  top: 110px;
  left: 150px;
  display: flex;
  z-index: 99;
}
.dropdown-container a:hover {
  color: #182cc0;
  transition: 0.5s;
}
.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.arrow {
  color: #182cc0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: tbc-bold;
  line-height: 1.4;
  display: flex;
  gap: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.arrow:hover {
  color: #3295ce;
  transition: 0.5s;
}
.right-side {
  display: flex;
  position: relative;
  left: 80px;
  top: 0;
}
.first-dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #555f62;
  font-family: tbc-medium;
  cursor: pointer;
  transition: 0.3s;
}
.first {
  width: 50%;
}
.second-dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  right: 50px;
}
.third-dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  left: 70px;
}
.concept-button {
  width: 50%;
}
/* 
.dropdown-container {
  display: none;
}
.dropdown-container.show {
  display: block;
  transition: all 0.3s ease-in-out;
} */
.card-dropdown-menu,
.first-dropdown-menu,
.second-dropdown-menu,
.third-dropdown-menu {
  display: none;
}
.card-dropdown-menu.show {
  display: block;
  transition: all 0.3s ease-in-out;
}
.first-dropdown-menu.show {
  display: flex;
  transition: all 0.3s ease-in-out;
}

.second-dropdown-menu.show {
  display: flex;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 130px;
}
.third-dropdown-menu.show {
  display: flex;
  transition: all 0.3s ease-in-out;
  position: relative;
  width: 100%;
  left: 350px;
}
.hide {
  display: none;
}
/* end dropdown menu */
main {
  position: relative;
  display: flex;
  flex-direction: column;
}
/* main start */
.main-text {
  color: #555f62;
  width: 50%;
  font-family: tbc-regular;
  font-size: 12px;
}
.main-container {
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: 100px;
  margin-left: 12%;
}

.banner {
  position: relative;
  /* top: 150px; */
  margin-top: 150px;
}
.img-wrapper img {
  min-height: 360px;
  border-radius: 8px;
  position: relative;
  /* left: 180px; */
  object-fit: cover;
  /* background-image: linear-gradient(15deg, #001682, #3240e5); */
  filter: brightness(60%);
  width: 100%;
  height: 376px;
}
.img-wrapper {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
}

.text-banner {
  position: absolute;
  top: 30%;
  left: 20%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text-banner p {
  font-family: tbc-regular;
  width: 70%;
}
.sub-button {
  background-color: #182cc0;
  width: 180px;
  padding: 15px 20px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: black;
  z-index: 99;
  transition: 0.3s ease-in;
}
.subscribe-btn {
  color: #fff;
}
.sub-button:hover {
  background-image: linear-gradient(15deg, #001682, #3240e5);
  transition: 0.3s ease-in;
}

/* .space-3 {
  height: 50px;
} */

/* start first section responsive */
@media only screen and (max-width: 767px) {
  .text-banner {
    width: 700px;
    left: 5%;
    top: 45%;
  }
  .text-banner h1 {
    font-size: 15px;
    font-family: tbc-medium;
  }
  .sub-button {
    width: 420px;
  }
  .big-message-container {
    color: #141719;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 50px;
  }
  .big-message-text {
    font-size: 28px !important;
  }
}
/* end first section responsive */

/* big message section start */
.big-message {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.big-message-container {
  width: 100%;
  max-width: 1110px;
  display: flex;
}
.big-message-text {
  color: #141719;
  font-weight: 500;
  line-height: 1.5;
  font-size: 36px;
  margin-top: 100px;
  font-family: tbc-medium;
}
/* end big message section */

/* start flex section */
.flex-section {
  position: relative;
  top: 13%;
  width: 100%;
  display: flex;
}
.heading-wrapper {
  margin-left: 12%;
}
.heading-wrapper h2 {
  margin-bottom: 0;
  color: #141719;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  font-family: tbc-medium;
  margin-top: 100px;

  /* padding-right: 850px; */
}

.img-box {
  border-radius: 10px;
  overflow: hidden;
  width: 540px;
  height: 256px;
}

.left img {
  width: 540px;
  height: 256px;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
.right img {
  width: 540px;
  height: 542px;
  object-fit: cover;
  border-radius: 10px;
}
.digital-photo {
  filter: brightness(60%);
}
.premium-photo {
  filter: brightness(70%);
}
.third-photo {
  filter: brightness(80%);
}

.digital-photo:hover {
  scale: 1.03;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.premium-photo:hover {
  scale: 1.03;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.right img:hover {
  scale: 1.03;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.text-digital,
.text-premium {
  position: absolute;
  color: #fff;
  top: 135px;
  font-size: 24px;
  font-weight: 700;
  font-family: tbc-medium;
  left: 40px;
}
.text-number {
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  font-family: tbc-medium;
  left: 50px;
  bottom: 90px;
}
.parent {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 23px;
  margin-top: 50px;
}
.premium-box {
  position: relative;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 23px;
  position: relative;
}
.right {
  position: relative;
  width: 540px;
  height: 542px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.readmore {
  position: absolute;
  top: 190px;
  left: 40px;
  color: #fff;
}
.readmore a {
  color: #fff;
  text-decoration: underline;
}
.readmore a:hover {
  text-decoration: none;
  color: #b8bec0;
  cursor: pointer;
  transition: 0.6s ease-out;
}
.readmore:hover {
  text-decoration: none;
  color: #b8bec0;
  cursor: pointer;
  transition: 0.6s ease-out;
}
.last-readmore {
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: #fff;
}
.last-readmore:hover {
  text-decoration: none;
  color: #b8bec0;
  cursor: pointer;
  transition: 0.6s ease-out;
}
.last-readmore a:hover {
  text-decoration: none;
  color: #b8bec0;
  cursor: pointer;
  transition: 0.6s ease-out;
}
.last-readmore a {
  color: #fff;
  text-decoration: underline;
}
/* end flex section */

/* start flex section responsive */

/* end flex section responsive */

/* start flex boxes with numbers */
.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  margin-top: 100px;
}
.first-box,
.second-box,
.third-box {
  /* padding: 40px 48px; */
  width: 350px;
  height: 180px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding-left: 50px;
  justify-content: center;
}
.number {
  color: #141719;
  font-size: 44px;
  line-height: 1.3;
  font-family: tbc-bold;
}
.text {
  font-family: tbc-regular;
}
/* end flex boxes with numbers */

/* start flex box with numbers responsive */
@media only screen and (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }
  .first-box,
  .second-box,
  .third-box {
    width: 80%;
    justify-content: center;
    margin-left: 10%;
  }
}
/* end flex box with numbers responsive  */

/* start slider section */

/* end slider section */
/* start mobile bank */
.digital-container {
  background-color: #fff;
  width: 100%;
  height: 414px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.right-digital img {
  width: 290px;
  margin-top: 30px;
  object-fit: cover;
  height: 90%;
}
.left-digital {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.digital-bank-heading {
  color: #141719;
  font-size: 24px;
  font-weight: 700;
  font-family: tbc-medium;
}
.digital-bank-text {
  font-family: tbc-regular;
  font-size: 16px;
  width: 90%;
}
.android-ios {
  display: flex;
  gap: 20px;
}
.android,
.ios {
  border: 1px solid #e1e4e5;
  padding: 14px 32px;
  border-radius: 5px;
}
.android:hover {
  background-color: #f9fafa;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.ios:hover {
  background-color: #f9fafa;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
/* end mobile bank */
/* start mobile bank responsive */
@media only screen and (max-width: 767px) {
  /* .digital-container {
    flex-direction: column;
    margin-top: 50px;
  } */
}
/* end mobile bank responsive */
.slider2 {
  height: 50vh;
}
/* start personal banker */
.banner2 {
  position: relative;
  margin-top: 50px;
}
.bg-img img {
  min-height: 360px;
  border-radius: 8px;
  position: inherit;
  object-fit: cover;
  width: 100%;
  height: 360px;
  filter: brightness(60%);
}
.bg-img {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.banner-text {
  position: absolute;
  top: 30%;
  left: 20%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-text p {
  font-family: tbc-regular;
  font-size: 15px;
}
.btn-area {
  background-color: #182cc0;
  width: 180px;
  padding: 13px 8px;
  display: flex;
  color: #fff;
  border-radius: 6px;
  box-shadow: black;
  z-index: 99;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in;
}
.btn-area:hover {
  background-image: linear-gradient(15deg, #001682, #3240e5);
  transition: 0.3s ease-in;
}
/* end mobile banker */
/* start footer */
footer {
  padding-top: 60px;
  background-color: #fff;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-right {
  display: flex;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 8px;
  transition: 0.3s;
  gap: 5px;
}
.footer-right:hover {
  background-color: #eef1f1;
  border-radius: 5px;
  transition: background-color 0.25s ease-in-out;
}
.footer-left {
  color: #141719;
}

.footer-main {
  background-color: #fff;
  padding-bottom: 45px;
  display: flex;
}
.container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}
.footer-inner-left {
  display: flex;
  gap: 48px;
}
.footer-products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-lifestyle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-inner-right {
  display: flex;
  gap: 85px;
}
.concept-space {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-dropdown-toggle-link {
  font-family: tbc-bold;
  color: #141719;
  font-size: 16px;
}
.footer-dropdown-link {
  font-family: tbc-regular;
  cursor: pointer;
  transition: 0.5s;
}
.footer-dropdown-link:hover {
  color: #182cc0;
  transition: 0.5s;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tell,
.mail,
.branches {
  cursor: pointer;
}
.tell:hover {
  text-decoration: underline;
}
.mail:hover {
  text-decoration: underline;
}
.branches:hover {
  text-decoration: underline;
}
.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.fb-icon,
.ig-icon {
  background-color: #f9fafa;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  transition: backgroundd-color 0.25s ease-in-out, color 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fb-icon:hover {
  color: #182cc0;
  background-color: #eee;
}
.ig-icon:hover {
  color: #182cc0;
  background-color: #eee;
}

.footer-bottom {
  background-color: #fff;
  border-top: 1px solid #eef1f1;
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 12px;
}
.footer-bottom-inner {
  padding-left: 47px;
  padding-right: 47px;
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.footer-bottom-left {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.footer-tbc-logo {
  display: flex;
  gap: 8px;
}
.footer-bottom-right {
  display: flex;
  gap: 10px;
  font-family: tbc-regular;
}
.bottom-text {
  cursor: pointer;
  transition: 0.5s;
}
.bottom-text:hover {
  color: #182cc0;
  transition: 0.7s;
}
/* end footer */
